/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face  {
    font-family: "Helvetica Neue LT W05_55 Roman";
    src: url("08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url("08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
    font-display: swap;
  }
  body {
    font-family: "Helvetica Neue LT W05_55 Roman", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.0625em;
    background-color: #f6f6f6;
    color: #010B13;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    @apply antialiased;
  }
  h1, .h1 {
    font-size: 2rem;
    line-height: 1.25em;
    letter-spacing: 0.03125em;
  }
  h2, .h2 {
    font-size: 2rem;
    line-height: 1.25em;
    letter-spacing: 0.03125em;
  }
  h3, h4, h5, h6,
  .h3, .h4, .h5, .h6 {
    font-size: 1.4375rem;
    line-height: 1.3913043478em;
    letter-spacing: 0.0347826087em;
  }
  hr {
    @apply border-t border-b-0 border-richBlack;
  }
  .rte a {
    color: #384972;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .rte a.no-underline {
    color: #384972;
    width: calc(100%);
    background-image: none;
  }
  .text-white.rte a {
    color: #ffffff;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), #ffffff 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .link,
  a.link {
    color: #384972;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  p.link {
    color: #384972;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  p.small,
  .small p,
  .small {
    @apply text-sm md:text-base;
  }
  span.link {
    color: #384972;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  button.link {
    color: #384972;
    background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  button {
    font-family: "Helvetica Neue LT W05_55 Roman", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.0625em;
    background-color: #f6f6f6;
    color: #010B13;
  }
  input {
    font-family: "Helvetica Neue LT W05_55 Roman", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.0625em;
  }
  a.white-link {
    color: #ffffff;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #ffffff 2px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  h1.text-white.rte a {
    color: #ffffff;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #ffffff 2px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  h1.rte a {
    color: #384972;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #384972 2px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  h1.rte strong {
    color: #384972;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #384972 2px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  @media (min-width: 992px) {
    h1, .h1  {
      font-size: 3.125rem;
      line-height: 1.1909090909em;
      letter-spacing: 0.0303030303em;
    }
    h2, .h2 {
      font-size: 2.875rem;
      line-height: 1.1739130435em;
      letter-spacing: 0.03043478261em;
    }
    h3, h4, h5, h6,
    .h3, .h4, .h5, .h6 {
      font-size: 1.625rem;
      line-height: 1.2142857143em;
      letter-spacing: 0.02857142857em;
    }
  }
  strong,
  .rte strong {
    font-weight: normal;
  }
  em,
  .rte em {
    font-style: initial;
  }
  .article h3 {
    @apply col-span-4 md:col-span-8 lg:col-span-6;
  }
  .article h3 + p {
    @apply col-span-4 md:col-span-7 md:col-start-5 lg:col-span-6 lg:col-start-4 mt-4 md:mt-6;
  }
  .article p + h3 {
    @apply col-span-4 md:col-span-8 lg:col-span-6 mt-12;
  }
  .article p,
  .article p + p {
    @apply col-span-4 md:col-span-7 md:col-start-5 lg:col-span-6 lg:col-start-4 mt-4;
  }

  /* Shogun - refer to snippets/shogun_classes_do_not_delete where these are placed to avoid purging */
  /* Shogun - always use !important in order to override the styles set by shogun */
  .shogun-root {
    z-index: 0 !important;
  }
  .shogun-heading-block {
    @apply mb-10 !important;
  }
  .shogun-heading-block a,
  .shogun-body-text-heading a,
  .shogun-body-text a,
  .shogun-pullquote a,
  .shogun-pullquote .shogun-pullquote-sub-text a,
  .shogun-large-featured-image a,
  .shogun-2-image-block a {
    color: #384972 !important;
    width: calc(100%) !important;
    background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
  }
  .shogun-heading-block .shogun-header h1,
  .shogun-heading-block .shogun-header h2,
  .shogun-heading-block .shogun-header h3,
  .shogun-heading-block .shogun-header h4,
  .shogun-heading-block .shogun-header h5,
  .shogun-heading-block .shogun-header p {
    font-size: 1.4375rem !important;
    line-height: 1.3913043478em !important;
    letter-spacing: 0.0347826087em !important;
    @apply mt-11 lg:mt-0 !important;
  }
  @media (min-width: 992px) {
    .shogun-heading-block .shogun-header h1,
    .shogun-heading-block .shogun-header h2,
    .shogun-heading-block .shogun-header h3,
    .shogun-heading-block .shogun-header h4,
    .shogun-heading-block .shogun-header h5,
    .shogun-heading-block .shogun-header p {
      font-size: 1.625rem !important;
      line-height: 1.2142857143em !important;
      letter-spacing: 0.02857142857em !important;
      @apply mb-6 w-full !important;
    }
  }
  .shogun-heading-block .shogun-header {
    @apply mr-0 md:mr-60 lg:mr-16 xl:mr-28 ml-0 !important;
  }
  .shogun-heading-block .shg-rich-text {
    @apply ml-0 !important;
  }
  .shogun-heading-block .shogun-heading-block-sub-section h1,
  .shogun-heading-block .shogun-heading-block-sub-section h2,
  .shogun-heading-block .shogun-heading-block-sub-section h3,
  .shogun-heading-block .shogun-heading-block-sub-section h4,
  .shogun-heading-block .shogun-heading-block-sub-section h5,
  .shogun-heading-block .shogun-heading-block-sub-section p {
    font-size: 16px !important;
    line-height: 1.5em !important;
    letter-spacing: 0.0625em !important;
    @apply mb-0 mt-0 !important;
  }
  
  @media (max-width: 992px) {
    .shogun-heading-block .shg-row {
      @apply flex-col-reverse flex-wrap !important;
    }
    .shogun-heading-block .shg-c-sm-6{
      @apply w-full !important;
    }
  }
  .shogun-2-image-block .shg-c-lg-6 {
    @apply mb-16 !important;
  }
  .shogun-2-image-block img {
    @apply mb-3 !important;
  }
  .shogun-body-text-heading {
    @apply grid grid-cols-4 md:grid-cols-12 gap-5 lg:gap-10 mb-7 !important;
  }
  .shogun-body-text-heading > :first-child {
    @apply col-span-4 md:col-span-8 lg:col-span-6 !important;
  }
  .shogun-body-text-heading h1,
  .shogun-body-text-heading h2,
  .shogun-body-text-heading h3,
  .shogun-body-text-heading h4,
  .shogun-body-text-heading h5,
  .shogun-body-text-heading p,
  .shogun-body-text-heading h1 span,
  .shogun-body-text-heading h2 span,
  .shogun-body-text-heading h3 span,
  .shogun-body-text-heading h4 span,
  .shogun-body-text-heading h5 span,
  .shogun-body-text-heading p span {
    font-size: 1.4375rem !important;
    line-height: 1.3913043478em !important;
    letter-spacing: 0.0347826087em !important;
  }
  @media (min-width: 992px) {
    .shogun-body-text-heading h1,
    .shogun-body-text-heading h2,
    .shogun-body-text-heading h3,
    .shogun-body-text-heading h4,
    .shogun-body-text-heading h5,
    .shogun-body-text-heading p,
    .shogun-body-text-heading h1 span,
    .shogun-body-text-heading h2 span,
    .shogun-body-text-heading h3 span,
    .shogun-body-text-heading h4 span,
    .shogun-body-text-heading h5 span,
    .shogun-body-text-heading p span {
      font-size: 1.625rem !important;
      line-height: 1.2142857143em !important;
      letter-spacing: 0.02857142857em !important;
    }
  }
  .shogun-body-text {
    @apply grid grid-cols-4 md:grid-cols-12 gap-5 lg:gap-10 !important;
  }
  .shogun-body-text > :first-child {
    @apply col-span-4 md:col-span-7 md:col-start-5 lg:col-span-6 lg:col-start-4 mb-14 lg:mb-18 !important;
  }
  .shogun-body-text h1,
  .shogun-body-text h2,
  .shogun-body-text h3,
  .shogun-body-text h4,
  .shogun-body-text h5,
  .shogun-body-text p {
    font-size: 16px !important;
    line-height: 1.5em !important;
    letter-spacing: 0.0625em !important;
    @apply mt-0 mb-7 !important;
  }
  .shogun-body-text h1:last-of-type,
  .shogun-body-text h2:last-of-type,
  .shogun-body-text h3:last-of-type,
  .shogun-body-text h4:last-of-type,
  .shogun-body-text h5:last-of-type,
  .shogun-body-text p:last-of-type {
    @apply mb-0 !important;
  }
  .shogun-large-featured-image {
    @apply mb-28 !important;
  }
  .shogun-large-featured-image img {
    width: 100% !important;
    @apply mb-3 !important;
  }
  .shogun-section-wrapper-pullquote {
    @apply grid grid-cols-4 md:grid-cols-12 gap-5 lg:gap-10 mb-24 !important;
  }
  .shogun-section-wrapper-pullquote > :first-child {
    @apply col-span-4 md:col-span-9 !important;
  }
  .shogun-section-wrapper-pullquote .shg-rich-text {
    @apply mb-3 !important;
  }
  .shogun-body-text-heading:after,
  .shogun-body-text-heading:before,
  .shogun-section-wrapper-pullquote:after,
  .shogun-section-wrapper-pullquote:before,
  .shg-c:after,
  .shg-c:before {
    content: none !important;
  }
  .shogun-pullquote {
    z-index: 0 !important;
  }
  /* The span element is only in the showgun editor */
  .shogun-pullquote h1,
  .shogun-pullquote h2,
  .shogun-pullquote h3,
  .shogun-pullquote h4,
  .shogun-pullquote h5,
  .shogun-pullquote p,
  .shogun-pullquote h1 span,
  .shogun-pullquote h2 span,
  .shogun-pullquote h3 span,
  .shogun-pullquote h4 span,
  .shogun-pullquote h5 span,
  .shogun-pullquote p span {
    font-size: 2rem !important;
    line-height: 1.25em !important;
    letter-spacing: 0.03125em !important;
    @apply mb-3 !important;
  }
  @media (min-width: 992px) {
    .shogun-pullquote h1,
    .shogun-pullquote h2,
    .shogun-pullquote h3,
    .shogun-pullquote h4,
    .shogun-pullquote h5,
    .shogun-pullquote p,
    .shogun-pullquote h1 span,
    .shogun-pullquote h2 span,
    .shogun-pullquote h3 span,
    .shogun-pullquote h4 span,
    .shogun-pullquote h5 span,
    .shogun-pullquote p span {
      font-size: 4.125rem !important;
      line-height: 1.1909090909em !important;
      letter-spacing: 0.0303030303em !important;
    }
  }
  .shogun-pullquote .shogun-pullquote-sub-text h1,
  .shogun-pullquote .shogun-pullquote-sub-text h2,
  .shogun-pullquote .shogun-pullquote-sub-text h3,
  .shogun-pullquote .shogun-pullquote-sub-text h4,
  .shogun-pullquote .shogun-pullquote-sub-text h5,
  .shogun-pullquote .shogun-pullquote-sub-text p  {
    font-size: 16px !important;
    line-height: 1.5em !important;
    letter-spacing: 0.0625em !important;
    @apply mt-0 mb-7 !important;
  }
  /* Shogun END */



  .drawer-open-left {
    transform: translateX(37.5rem) translateZ(0px);
  }
  .drawer-open-right {
    transform: translateX(-100vw) translateZ(0px);
  }
  @media only screen and (min-width: 768px) {
    .drawer-open-right {
      transform: translateX(-37.5rem) translateZ(0px);
    }
  }
  .drawer-start-position-left {
    top: 0;
    left: -37.5rem;
  }
  .drawer-start-position-right {
    top: 0;
    right: -37.5rem;
  }
  .drawer-duration {
    transition-duration: 0.5s;
  }
  .drawer-width {
    max-width: 37.5rem;
    width: 80%;
  }
  @media only screen and (max-width: 767px) {
    .drawer-start-position-left {
      left: -100vw;
    }
    .drawer-start-position-right {
      right: -100vw;
    }
    .drawer-width {
      width: 100vw;
      max-width: unset;
    }
  }
  .grey-overlay {
    background: rgba( 0,0,0, 0.65);
  }

  /* On a smaller screen - it needs to be 200vw to allow content to move between it */
  #mobile-menu-container {
    width: calc(37.5rem * 2);
  }
  @media only screen and (max-width: 767px) {
    #mobile-menu-container {
      width: calc(100vw * 2);
    }
  }
  
  .mobile-sub-nav-open {
    transform: translateX(-50%) translateZ(0px);
  }

}



@layer components {

  .modal-loader-spinner {
    height: calc(100% - 56px);
  }
  @media only screen and (min-width: 992px) {
    .modal-loader-spinner {
      height: calc(100% - 72px);
    }
  }

  .grid-container {
    @apply grid grid-cols-4 md:grid-cols-12 gap-5 lg:gap-10;
  }

  .page-margin {
    @apply mx-5 lg:mx-10;
  }

  .page-margin-slider {
    @apply ml-5 lg:ml-10;
  }

  .button {
    @apply flex items-center justify-center h-14 lg:h-18 px-5 lg:px-10 w-max;
  }

  .button-left {
    @apply flex items-center justify-start h-14 lg:h-18 px-5 lg:px-10 w-max;
  }

  .button-left-quick-buy {
    @apply flex items-center justify-start h-14 lg:h-18 px-4 w-max;
  }

  .button-size-guide-active {
    @apply button bg-sand border border-l border-sand cursor-pointer;
  }

  .button-size-guide-inactive {
    @apply button bg-platinum border border-black border-opacity-20 cursor-pointer;
  }

  .product-card-quick-buy-inactive {
    @apply absolute bg-sand lg:block pl-4 -left-4 -top-4 z-20 -mr-4 overflow-hidden h-0;
  }

  .product-card-quick-buy-active {
    @apply absolute bg-lightBlue lg:block pl-4 -left-4 pt-4 pr-4 -top-4 z-10 -mr-4;
  }

  .product-card-quick-buy-mobile-active {
    @apply bg-lightBlue lg:block pl-4 -left-4 pt-4 pr-4 -top-4 z-10;
  }

  .product-card-2-quick-buy-inactive {
    @apply absolute bg-lightBlue hidden pl-4 -left-4 -top-4 z-20;
  }

  .product-card-2-quick-buy-active {
    @apply absolute bg-lightBlue hidden lg:block pl-4 -left-4 -top-4 z-10;
  }

  .pdp-product-tag {
    background-color: #E7DDBB;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 0.8125rem;
    line-height: 1em;
    margin-right: 2px;
    margin-top: 2px;
  }

  .product-tag {
    background-color: #E7DDBB;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 0.8125rem;
    line-height: 1em;
    margin-right: 2px;
    margin-bottom: 2px;
  }

  .ellipsis-1-line {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ellipsis-2-line {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .checkbox label,
  .radio label {
    line-height: 28px;
    cursor: pointer;
  }
  
 .checkbox label:before,
 .radio label:before {
    content: '';
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-top: -2px;
    left: 0; 
    border: 1px solid #010B13;
  }
  
  .checkbox label:after,
  .radio label:after {
    content: '';
    width: 18px;
    height: 10px;
    position: absolute;
    top: 0;
    margin-top: 6px;
    left: 5px;
    border: 3px solid #010B13;
    border-top: none;
    border-right: none;
    background: 0 0;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox input[type='checkbox']:checked + label:after,
  .radio input[type='radio']:checked + label:after {
    opacity: 1;
  }

  .checkbox label.checkbox-disabled,
  .checkbox label.checkbox-disabled:before {
    opacity: 0.35;
  }

  input:focus-visible {
    outline: none;
  }

  .number1 { 
    top: 9px;
    left: 10px;
    font-size: 14px;
  }

  .number2 { 
    top: 9px;
    left: 6px;
    font-size: 13px;
  }
x
  .search .icon {
    transform: translateY(-50%);
  }

  .logo {
    height: 58px;
    width: 143px;
  }

  .boxes {
    /* display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-auto-flow: dense; */
    grid-template-columns: repeat(auto-fill, minmax(51px, 51px)); 
    @apply grid gap-0 gap-y-0 grid-flow-row-dense;
  }

  .boxes-2 {
    /* display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-auto-flow: dense; */
    grid-template-columns: repeat(auto-fill, minmax(73px, 73px)); 
    @apply grid gap-0 gap-y-0 grid-flow-row-dense;
  }

  @media only screen and (min-width: 992px) {
    .boxes {
      grid-template-columns: repeat(auto-fill, minmax(71px, 71px));
    }
    .boxes-2 {
      grid-template-columns: repeat(auto-fill, minmax(91px, 91px));
    }
  }

  .plp-boxes {
    @apply boxes;
    grid-template-columns: repeat(auto-fill, minmax(47px, 47px));
  }

  .plp-boxes-2 {
    @apply boxes;
    grid-template-columns: repeat(auto-fill, minmax(75px, 75px));
  }

  .plp-swatch-boxes {
    @apply boxes;
    grid-template-columns: repeat(auto-fill, minmax(23px, 23px));
  }

  .box {
    /* width: 50px;
    height: 50px;
    max-width: 50px;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px; */
    @apply flex -ml-px -mt-px w-13 lg:w-18 h-13 lg:h-18 text-sm lg:text-base justify-center items-center border border-richBlack bg-platinum cursor-pointer;
  }

  .boxes-2 .box {
    @apply flex -ml-px -mt-px w-18-5 lg:w-23 h-13 lg:h-18 text-sm lg:text-base justify-center items-center border border-richBlack bg-platinum cursor-pointer;
  }

  .plp-boxes .plp-box {
    @apply box w-12 h-6 text-xs;
  }

  .plp-boxes .plp-box-one-size {
    @apply box w-18 h-6 text-xs;
  }

  .plp-boxes-2 .plp-box {
    @apply box w-19 h-6 text-xs;
  }

  .plp-swatch-box {
    @apply box w-6 h-6 text-xs;
  }

  /* Product form labels taken from Dawn theme */
  /* This could probably be done via Tailwind - but not sure if worth the effort, esp at this stage */  
  .product-form__input input[type='radio']:checked + label {
    /* background-color: var(--color-foreground);
    color: var(--color-background); */
    @apply bg-sand;
  }
  
  .product-form__input input[type='radio']:disabled + label {
    /* border-color: var(--color-foreground-10);
    color: var(--color-foreground-40); */
    @apply bg-platinum; /* It could be checked via the URL page load - so clear the black background if necessary */
  }

  .product-form__input input[type='radio']:disabled + label span {
    color: #000;
    @apply line-through opacity-50;
  }



  .quantity-input .input-text.qty {
    width: 45px;
    height: 40px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
  }
 
  .quantity-input {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
  }
 
  .quantity-input input {
    background-color: initial;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
  }
 
  .quantity-input .minus,
  .quantity-input .plus {
    padding: 7px 6px 8px;
    height: 41px;
    cursor:pointer;
  }
 
  .quantity-input input::-webkit-outer-spin-button,
  .quantity-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }
  
  .quantity-input .minus:focus,
  .quantity-input .plus:focus {
    outline: none;
  }

  @media (min-width: 992px) {
    .logo {
      height: 71px;
      width: 176px;
    }
  }

  /*
  .cart-drawer{
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .cart-drawer-body {
    overflow: auto;
    max-height: 100%;
    min-height: 250px;
  } */

  #cart-drawer .cart-drawer-empty {
    display: none;
  }

  #cart-drawer .cart-drawer-not-empty {
    display: block;
  }

  #cart-drawer.is-empty .cart-drawer-empty {
    display: block;
  }

  #cart-drawer.is-empty .cart-drawer-not-empty {
    display: none;
  }

  .marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
  }

  .marquee__inner {
    width: max-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    animation-play-state: running;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
} 



@layer utilities {
  .image-zoom-height {
    height: calc(100vw * 1.3333);
  }
  p {
    @apply mb-4;
  }
  .last-p-mb-0 p:last-of-type {
    @apply mb-0;
  }
  .reveal .active {
    @apply mb-8;
  }
  .reveal .active .plus {
    @apply transform rotate-45;
  }
  .active .arrow {
    @apply transform rotate-180;
  }
  .cart-drawer-body {
    overflow: auto;
    max-height: 100%;
    min-height: 250px;
  }
  @media screen and (max-width: 767px) {
    .mobile-nav-height {
      height: calc(100vh - 74px); /* Fallback for browsers that do not support Custom Properties */
      height: calc((var(--vh, 1vh) * 100) - 74px);
    } 
  }
  @media screen and (min-width: 768px) {
    .mobile-nav-height {
      height: 100vh;
    }
  }


  @media screen and (max-width: 767px) {
    .scroll-down .page-header:not(.locked) { /* Lock mobile nav when open */
      transform: translate3d(0, -100%, 0);
    }
  }

  @media screen and (min-width: 768px) {
    .scroll-down .page-header { /* We do not want it to lock on the desktop version - so no conditional here */
      transform: translate3d(0, -100%, 0);
    }
  }

  .scroll-up .page-header {
    transform: none;
  }

  .image-carousel-image-height {
    height: 50vw;
  }

  @media (min-width: 1440px) {
    .image-carousel-image-height {
      height: 42vw;
    }
  }

  @media (min-width: 1800px) {
    .image-carousel-image-height {
      height: 33vw;
    }
  }

  .height-58 {
    height: 58px; 
  }

  body.mobile-nav-scroll {
    height: 100vh;
    overflow: hidden;
  }

  select:focus {
    outline: none;
    box-shadow: none;
  }

  .carousel-arrow-top-75 {
    top: calc(50% - 75px);
  }

  .carousel-arrow-bottom-75 {
    bottom: calc(50% - 75px);
  }

  @media (min-width: 768px) {
    .broadcast-h3-min-height-ellipsis {
      min-height: calc(1.3913043478em * 3);
      display: block;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (min-width: 992px) {
    .broadcast-h3-min-height-ellipsis {
      min-height: calc(1.2142857143em * 2);
      display: block;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  .rotate-text {
    transform: rotate(90deg) translateY(0px) translateX(0px);
    transform-origin: left;
  }

  mega-nav > ul.flex > li > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  mega-nav > ul.flex > li:first-of-type > a {
    padding-left: 0;
  }
  
  mega-nav > ul.flex > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Modal classes start  */
  .modal-centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal-fade-in {
    transition: opacity 0.5s;
  }
  /* Modal classes end */

  .appear-animation {
    opacity: 0;
    transform: translateY(30px); 
  }

  .active .appear-animation {
    opacity: 1;
    transform: translateY(0px);
  }

  .inactive .appear-animation {
    transition-duration: 0s;
    transition-delay: 0.5s;
  }

  .appear-delay-1 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.075s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s; }

  .appear-delay-2 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.195s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.27s; }

  .appear-delay-3 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.255s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.33s; }

  .appear-delay-4 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.315s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.39s; }

  .appear-delay-5 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.375s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.45s; }

  .appear-delay-6 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.435s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.51s; }

  .appear-delay-7 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.495s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.57s; }

  .appear-delay-8 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.555s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.63s; }

  .appear-delay-9 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.615s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.69s; }

  .appear-delay-10 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.675s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.75s; }

  .appear-delay-11 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.735s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.81s; }

  .appear-delay-12 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.795s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.87s; }

  .appear-delay-13 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.855s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.93s; }

  .appear-delay-14 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.915s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.99s; }

  .appear-delay-15 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.975s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.05s; }

  .appear-delay-16 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.035s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.11s; }

  .appear-delay-17 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.095s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.17s; }

  .appear-delay-18 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.155s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.23s; }

  .appear-delay-19 {
    transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.215s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.29s; }

  .loading .loading-icon {
    display: block !important;
  }
  .success .success-icon {
    display: block !important;
  }

}

/* Reviews */

.okeReviews .okeReviews-starRating-indicator-layer {
  background-image: var(--okendo-dots-background) !important;
}

.okeReviews.okeReviews--theme .okeReviews-starRating-indicator-layer--foreground {
  background-image: var(--okendo-dots-foreground) !important;
}

.okeReviews.okeReviews--theme .okeReviews-starRating--small .okeReviews-starRating-indicator-layer {
  background-size: 75px 12px !important;
}

.okeReviews-reviewsSummary-ratingCount {
  margin-left: 8px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.okeReviews .okeReviews-reviewsWidget::before {
  content: '' !important;
  height: 1px;
  margin-top: 0 !important;
  line-height: 0 !important;
}

.okeReviews-reviewsSummary {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 0 !important;
}

.okeReviews-reviewsSummary-starRating {
  margin-right: 8px !important;
}

.okeReviews .okeReviews-reviewsWidget {
  padding-top: 0 !important;
}

.okeReviews-reviewsWidget-header {
  display: none !important;
}

.okeReviews-reviewsWidget-reviewsAggregate {
  display: none !important;
}

.okeReviews * {
  font-family: inherit !important;
  font-size: 16px !important;
  color: #010B13 !important;
}

.okeReviews.okeReviews--theme .okeReviews-starRating-indicator-layer {
  background-size: 100px 16px !important;
}

.okeReviews-review-main-heading {
  font-size: 1.4375rem !important;
  line-height: 1.3913043478em !important;
  letter-spacing: 0.0347826087em !important;
  font-weight: inherit !important;
}

.okeReviews-reviewsWidget-reviews {
  background-color: white !important;
  padding: 1rem 2rem !important;
}

.okeReviews .okeReviews-review-recommendation {
  margin-bottom: 2rem !important;
}

.okeReviews .okeReviews-review-helpful {
  text-align: left !important;
}

.okeReviews-review-reviewer-product {
  display: none !important;
}

.okeReviews-review-helpful {
  display: none !important;
}

.okeReviews-review-recommendation {
  display: none !important;
}

.okeReviews-reviews-review:not(:first-child) {
  margin-top: 4rem !important;
}

.okeReviews .okeReviews-review--minimal .okeReviews-review-selectAttributes {
  margin-bottom: 0.5em !important;
}

.pdp-overall-score .okeReviews.okeReviews--theme {
  align-items: end;
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .okeReviews .okeReviews-review--minimal .okeReviews-review-date {
    float: left !important;
    margin-bottom: 8px !important;
  }
}

@media (max-width: 768px) {
  .okeReviews-reviewsWidget-reviews {
    padding: 0.5rem 1rem !important;
  }
}

.account-address p {
  margin-bottom: 1rem;
}

/* Klevu */

.klevuLanding [ku-container][data-container-role="main"] {
  width: 100% !important;
}

.quick-template-wrapper {
  @apply grid-container max-w-screen-2xl w-full mx-auto relative !important
}

.klevuLanding .kuContainer {
  max-width: 100% !important;
  padding: 0px !Important;
}

p.klevu-text-base {
  font-size: 1rem !important;
  margin-bottom: 0.5rem;
}

.klevuSuggestionsBlock .product-tag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.klevuSuggestionsBlock .product-tag a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kuLandingNoResults,
.kuLandingNoRecordFound {
  background-color: #f6f6f6 !important;
}

.kuContainer{
	background-color: #f6f6f6 !important;
}

/* @media screen and (max-width: 767px) {
  .quick-template-wrapper {
    height: calc(100% - 148px);
    overflow-y: scroll;
  }
} */

.klevuTarget.klevu-fluid > div {
  /* background-color: transparent !important; */
  border-radius: 0px !important;
  z-index: 30 !important;
}

@media screen and (max-width: 767px) {
  .klevuTarget.klevu-fluid > div {
    background-color: transparent !important;
  }
}

.klevuWrap_ {
  position: fixed !important;
  padding-top: 135px !important;
  top: 0 !important;
}

.klevuWrap.productListActive {
  position: relative !important;
  padding-top: 0 !important;
}

.klevuWrap.contentListActive {
  position: relative !important;
  padding-top: 0 !important;
}

@media screen and (max-width: 767px) {
  .klevuWrap {
    height: calc(100%);
    overflow-y: scroll;
  }
}

.klevuLanding.klevuTarget.kuSearchResultsPageContainer .klevuWrap {
  position: relative !important;
  padding-top: 0px !important;
}

.kuQuickSearchNoRecordFound .kuQuickNoResultsMessage {
  line-height: 24px !important;
}

.quick-search-overlay {
  display: none;
}

.kuSearchBoxWithTerm .quick-search-overlay {
 display: block;
}

@media screen and (min-width: 768px) {
  .no-results-quick-search-bg-banner {
    position: fixed;
    height: 168px;
    width: 100vw;
    background-color: #f6f6f6;
    left: 0;
  }
}



.kuSearchResultsPageContainer .kuPagination a {
  display: flex !important;
  height: 2.5rem !important;
  min-width: 2.5rem !important;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #f6f6f6 !important;
  border: 1px solid black !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: black !important;
}

.kuSearchResultsPageContainer .kuPagination a.kuCurrent {
  background-color: rgba(231, 221, 187, 1) !important;
}

.kuSearchResultsPageContainer .kuPagination {
  width: auto !important;
  float: left !important;
  text-align: right !important;
  box-sizing: border-box !important;
  padding: 0 !important;
}

div.kuTabs > a:nth-child(2) {
  display: none !important;
}

details summary::-webkit-details-marker {
  display:none;
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}





.select-dropdown {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select-dropdown-container::after {
  content: "";
  background-image: var(--dropdown-icon);
  background-size: 20px 11px;
  height: 11px;
  width: 20px;
}

.select-dropdown-container {
  display: grid;
  position: relative;
  align-items: center;
  grid-template-areas: "select";
}

.select-dropdown,
.select-dropdown-container:after {
  grid-area: select;
}

.select-dropdown-container:after {
  justify-self: end;
}



  /* Instagram feed CSS - mobile */
  .fs-has-links { display:none; } .fs-wrapper { height:auto; } .fs-slider_v2_5 .fs-entry-container { height:0 !important;width:300px!important;padding-top:300px!important; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Times New Roman, serif;font-style:normal;font-weight:normal;font-size:14px; } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;font-size:14px; } .fs-slider-next-button, .fs-slider-prev-button { opacity:1; } .fs-wrapper div.fs-text-container * { color:#ffffff; } .fs-wrapper div.fs-text-container { background-color:rgba(0, 0, 0, 0.8);margin:0px; } div.fs-entry-date { display:none; } div.fs-entry-title { display:none; } .fs-slider_v2_5 .fs-wrapper div.fs-timeline-entry { margin:5px; }.fs-slider-next-button {height: 56px;width: 60px;right: 5px;top: 50%;transform: translateY(-50%);background-color: rgb(231, 221, 187);} .fs-slider_v2_5-feed {left: -5px;} .fs-slider-prev-button {display: none;} .fs-slider-next-button svg { visibility: hidden;} .fs-slider-next-button::after  { background-image: var(--carousel-arrow); content: ""; position: absolute; background-size: 20px 16px; height: 16px; width: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%);
  }.fs-slider-next-button {z-index: 20;}
  /* Instagram feed CSS - mobile */

  /* Instagram feed CSS - tablet */
  @media (min-width: 769px) {.fs-slider_v2_5 .fs-entry-container { height:0 !important;width:33.333%!important;padding-top:33.333%!important; } .fs-slider_v2_5 .fs-wrapper div.fs-timeline-entry { margin:10px;} .fs-slider-next-button {right: 40px;} .fs-slider_v2_5-feed {left: -20px;}}
  /* Instagram feed CSS - tablet */

  /* Instagram feed CSS - desktop */
  @media (min-width: 992px) {.fs-slider_v2_5 .fs-entry-container { height:0 !important;width:25%!important;padding-top:25%!important; } .fs-slider_v2_5 .fs-wrapper div.fs-timeline-entry { margin:20px;} .fs-slider-next-button {height: 72px;width: 100px;}}
  /* Instagram feed CSS - desktop */

  .w-fit {
    width: fit-content;
  }