<div class="max-w-screen-2xl mx-auto mb-14 lg:mb-18">
  <div class="grid-container page-margin">
    <div class="col-span-4 md:col-span-8">
      <h2 class="mb-3 md:mb-7">$title</h2>
    </div>
  </div>

  <div class="grid-container page-margin-slider">
    <div class="col-span-4 md:col-span-12 mb-5">
      <div class="glide glide-nosto-mobilePeek">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            #foreach($product in $products)
              <li class="glide__slide col-span-4 lg:col-span-3">
                <a href="$!product.url" title="$!product.name"><img src="$!product.imageUrl" alt="$!product.name" height="2920" width="2190" loading="lazy"></a>
                #if($product.tags1)
                <div class="flex items-start flex-wrap mb-4">
                    #foreach($tag in $product.tags1)
                        #if(!$tag.toString().contains('hide:'))
                        <a href="/collections/all/$!tag.toLowerCase().replace(' ', '-')"><span class="product-tag">$!tag</span></a>
                        #end
                    #end
                </div>
                #end
                <a href="$!product.url"><p class="mb-2">$!product.name</p></a>
                #if($product.discounted)
                <p>
                  <span class="line-through mr-4">$!product.listPrice</span>
                  <span class="text-purpleNavy">$!product.price</span>
                </p>
                #else
                  <p class="text-purpleNavy inline">$!product.price</p>
                #end
              </li>
            #end
          </ul>
        </div>
        <div data-glide-el="controls">
          <button class="hidden md:flex absolute carousel-arrow-top-75 right-0 items-center justify-center bg-sand z-10 h-14 lg:h-18 px-5 lg:px-10 w-max" data-glide-dir=">"><img src="https://d21m4dsqdd3b9h.cloudfront.net/shopify-57994674342/onsiteContent/16341395712830.40520804532034127" loading="lazy" height="20" width="20" alt="arrow"></button>
        </div>
      </div>
    </div>
  </div>
</div>